.div-input input{
    width: 49.5%;
    display: inline-block;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;

}



.section-auth{
    display: flex;
    justify-content: center;

}

.formWrapper .card {
    overflow: hidden;
    width: 500px;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}


.card.show {
    right: 0;
    visibility: visible;
    opacity: 1;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 30px;
    font-size: 1.1rem;
    color: #85586D;
    background-color: #85586D;
    border-radius: 50px;


}

.card-header .form-header {
    flex: 50%;
    text-align: center;
    color: #fff;
    background-color: #85586D;
    padding: 15px 5px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 50px;
    user-select: none;
}

.card-header .form-header:hover {
    cursor: pointer;
}

.card-header .form-header.active {
    border-color: #85586D;
    background-color: #fff;
    color: #85586D;
}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

.form-auth {
    flex: 0 0 100%;
}

.form-control {
    display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.loginForm{
    padding-top: 1000px;
}


label {
    display: block;
    padding-bottom: 20px;
    color: #85586D;
    text-align: left;
}

.form-control::placeholder {
    color: #85586D;
}

.formButton {

    border: 1px solid transparent;
    padding: 1rem 3rem;
    color: #fff;
    font-weight: bold;
    background-color: #85586D;
    border-radius: 50px;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
